/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}
h1 {
  font-size: 9rem;
  font-weight: bold;
  color: #f7f8f8;
  padding-bottom: 1%;
  text-transform: uppercase;
}
.container {
  width: 100%;
  height: 100%;
}
header {
  width: 100%;
  height: 33%;
  background-color: #fc4647;
  padding: 0 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header h2 {
  color: #263547;
  font-size: 3.2rem;
  text-transform: uppercase;
}
.main {
  display: flex;
}
h3 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 3px;
  padding-bottom: 4%;
  text-transform: uppercase;
}
h4 {
  font-size: 1.8rem;
  text-transform: uppercase;
}
p,
a {
  line-height: 2rem;
}
.left-side {
  width: 33%;
  background-color: #263547;
  display: flex;
  flex-direction: column;
  padding-top: 4%;
  padding-left: 4%;
}
.left-side p {
  color: #f7f8f8;
  font-weight: bold;
}
.left-side section {
  padding-bottom: 15%;
}
.left-side .contact {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}
.left-side .contact a {
  color: #f7f8f8;
}
.left-side .references div {
  padding-bottom: 4%;
}
.left-side .references .name {
  text-transform: uppercase;
  color: #f7f8f8;
  font-weight: bold;
}
.left-side .references .company {
  color: #e3c3c5;
}
.left-side .references a {
  font-weight: bold;
}
.left-side h3 {
  color: #fc4647;
}
.left-side p {
  color: #f7f8f8;
}
.left-side a {
  text-decoration: none;
  color: #e3c3c5;
}
.right-side {
  width: 66%;
  padding-top: 4%;
  padding-left: 4%;
  padding-bottom: 4%;
  display: flex;
  flex-direction: column;
}
.right-side .main {
  text-transform: uppercase;
  font-weight: bold;
}
.right-side p {
  color: #263547;
  padding-right: 20%;
}
.profile {
  border-bottom: 10px solid #fc4647;
  margin-bottom: 4%;
}
.profile p {
  padding-bottom: 4%;
}
