// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	// border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

@red: #fc4647; // Header background and left section titles and right seperators
@dark-blue: #4a4857; // Right section h4 sub
@light-gray: #f7f8f8; // Background right section, p tags left side except .company
@light-red: #e3c3c5; // p.company, a tags in references on left
@very-dark-blue: #263547; // Left section background and h3 in right section and h4 mains right and p tags on right and h2 in header

.sectionPadding () {
	padding-top: 4%;
	padding-left: 4%;
}

.allCaps() {
	text-transform: uppercase;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 1.6rem;
}

h1 {
	font-size: 9rem;
	font-weight: bold;
	color: @light-gray;
	padding-bottom: 1%;
	.allCaps();
}

.container {
	width: 100%;
	height: 100%;
}

// Container close tag

header {
	width: 100%;
	height: 33%;
	background-color: @red;
	padding: 0 4%;
	display: flex;
	flex-direction: column;
	justify-content: center;


	h2 {
		color: @very-dark-blue;
		font-size: 3.2rem;
		.allCaps();
	}
}

// Header closing tag

.main {
	display: flex;
}

h3 {
	font-size: 2rem;
	font-weight: bold;
	letter-spacing: 3px;
	padding-bottom: 4%;
	.allCaps();
}

h4 {
	font-size: 1.8rem;
	.allCaps();
}

p,
a {
	line-height: 2rem;
}

.left-side {
	width: 33%;
	background-color: @very-dark-blue;
	display: flex;
	flex-direction: column;
	.sectionPadding();

	p {
		color: @light-gray;
		font-weight: bold;
	}

	section {
		padding-bottom: 15%;
	}

	.contact {
		display: flex;
		flex-direction: column;
		font-weight: bold;

		a {
			color: @light-gray;
		}
	}

	.references {
		div {
			padding-bottom: 4%;
		}

		.name {
			.allCaps();
			color: @light-gray;
			font-weight: bold;
		}

		.company {
			color: @light-red;
		}

		a {
			font-weight: bold;
		}

	}

	h3 {
		color: @red;
	}

	p {
		color: @light-gray;
	}

	a {
		text-decoration: none;
		color: @light-red;
	}

}

// Left side close tag

.right-side {
	width: 66%;
	.sectionPadding();
	padding-bottom: 4%;
	display: flex;
	flex-direction: column;

	.main {
		.allCaps();
		font-weight: bold;
	}

	p {
		color: @very-dark-blue;
		padding-right: 20%;
	}
}

// Right side close tag

.profile {
	border-bottom: 10px solid @red;
	margin-bottom: 4%;

	p {
		padding-bottom: 4%;
	}
}